div.navbar.navbar-inverse
 div.navbar-inner
  div.container
    div.nav-collapse.collapse.navbar-inverse-collapse
     ul.nav
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown",href="#")
         | Save 
         b.caret
        ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
         li
           a(href='#',class="saveJson") Save as JSON Format
         li
           a(href='#',class="exportPNG") Export as image
         li.divider
         li.disabled 
          a Save to server
      li
        a.drop.load(href='#') Load
      li
        a.drop(href='#') View
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown",href="#")
         | Help 
         b.caret
        ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
         li
           a.about(href='#') About...
    div.pull-right
     div#spin