div.navbar.navbar-inverse
 div.navbar-inner
  div.container
    div.nav-collapse.collapse.navbar-inverse-collapse
     ul.nav
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown",href="#")
         | Save 
         b.caret
        ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
         li
           a(href='#',class="saveJson") Save as JSON Format
         li
           a(href='#',class="exportPNG") Export as image
         li.divider
         li.disabled
          a(href="#",class="serverSave-notyet") Save to server
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown",href="#")
         | Load 
         b.caret
        ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
         li.disabled 
           a User Gallery
         li.divider
         li
           a(href='#',class="jsonLoad") Load from JSON 
         li
           a(href='#',class="ponycodeConvert") Convert from PonyCode
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown",href="#")
         | View 
         b.caret
        ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
         li
           a(href='#',class="hideSidebar") Hide Sidebar 
            i
         li
           a(href='#',class="enableFullscreen") Fullscreen
            i
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown",href="#")
         | Help 
         b.caret
        ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
         li
           a.shortcutsLegend(href='#') Keyboard Shortcuts
           a.about(href='#') About...
    div.pull-right
     div#spin
    div.pull-right
     div#socketStatus(class="label label-warning")
      | Connecting
    div.pull-right#progressBar
     div.progress.progress-success.progress-striped.active
      div.bar(style="width: 40%")