.info
      span.rotation
        | Rotation: 
        span(class="bodyRotation")
         | Wait
         span.wait .
        |  (
        span(style='color: red;', class="bodyRotationText")
         | Wait
         span.wait .
        | )
      br
      span.position
        | Position: 
        span(class="bodyPosition")
         | X: 0; Y: 0
      br
      span.colorbodyInfo
        | ColorBody: 
        span(class="colorBody")
          | Wait
          span.wait .
      br
      span.outlinebodyInfo
        | OutlineBody: 
        span(class="colorOutline")
          | Wait
          span.wait .
          
div.text-center
 div.btn-group
  button.btn.btn-mini.btn-success.sidebarCat(data-page="ponyCat") Pony
  button.btn.btn-mini.sidebarCat(data-page="accesories") Accesories
  button.btn.btn-mini.sidebarCat(data-page="pose") Pose
hr(style="margin:0")
#ponyCat.sidebarCat

 div.text-center
  div.btn-group
   button.btn.btn-mini.btn-primary.sidebarTab(data-page="general") General
   button.btn.btn-mini.sidebarTab(data-page="colors") Colors
   button.btn.btn-mini.sidebarTab(data-page="body") Body
   button.btn.btn-mini.sidebarTab(data-page="background") Background
   
 div#general.sidebarTab
  h4 General
  .info
    form(id="ponyName")
     div
      div.label 
       | Name: 
      div.input
       input(type="text",id="pname")
      div.clear
     div
      div.label
       | Author:
      div.input
       input(type="text",id="author")
      div.clear     
  .info#positionBtns
   form
    div.btn-group
     input.btn(type="submit",name="left", value="<")
     input.btn(type="submit",name="center", value="x")
     input.btn(type="submit",name="right", value=">")
    br
    div#scaleBar-percentage.label(style="margin-top: 10px")
     | Scale: 100%
    div#scaleBar
      
 div#colors.sidebarTab
  h4 Colors
  .info
     form(id="setColors")
         div
          div.label
           | Color Body: 
          div.input
           input(type="text",id="colorBody")
          div.clear
         div
          div.label
           | Color Outline:
          div.input
           input(type="text",id="colorOutline")
          div.clear
         br
         input.btn.btn-small(type="submit",value="Change Colors")    
 div#body.sidebarTab
  h4 Options
  .info#ponyOptions
    div
     div.label
      | Horn:
     div
      input(type="radio", name="horn", value="off")
      | Off 
      input(type="radio", name="horn", value="normal")
      | Normal 
     div.clear
 div#background.sidebarTab
  h4 Background
  .info#bglist
   .bgcontainer
    a(href="#", data-bgname="transparent")
     span Transparent 
    a(href="#", data-color="#000000", data-bgname="custom")
     span Custom 
    a(href="#", data-bgname="Ponyville_Outskirts")
     img(src="img/bgs/trumb/Ponyville_Outskirts.png", style="max-width: 100px", title="Ponyville Outskirts") 
    a(href="#", data-bgname="SAA")
     img(src="img/bgs/trumb/SAA.png", style="max-width: 100px", title="Sweet Apple Acres") 
    a(href="#", data-bgname="twilights_library")
     img(src="img/bgs/trumb/twilights_library.png", style="max-width: 100px", title="Twilight's Library") 
 div.clear(style="height: 20px;")