.info
      span.position
        | Position: 
        span(class="bodyPosition")
         | Wait
         span.wait .
        |  (
        span(style='color: red;', class="bodyPositionText")
         | Wait
         span.wait .
        | )
      br
      span.colorbodyInfo
        | ColorBody: 
        span(class="colorBody")
          | Wait
          span.wait .
      br
      span.outlinebodyInfo
        | OutlineBody: 
        span(class="colorOutline")
          | Wait
          span.wait .
.info#positionBtns
   form
    div.btn-group
     input.btn(type="submit",name="left", value="<")
     input.btn(type="submit",name="center", value="x")
     input.btn(type="submit",name="right", value=">")
    br
    div#scaleBar-percentage.label(style="margin-top: 10px")
     | Scale: 100%
    div#scaleBar
    
.info
    form(id="ponyName")
     div
      div.label 
       | Name: 
      div.input
       input(type="text",id="pname")
      div.clear
     div
      div.label
       | Author:
      div.input
       input(type="text",id="author")
      div.clear
h4 Colors
.info
        form(id="setColors")
         div
          div.label
           | Color Body: 
          div.input
           input(type="text",id="colorBody")
          div.clear
         div
          div.label
           | Color Outline:
          div.input
           input(type="text",id="colorOutline")
          div.clear
         br
         input.btn.btn-small(type="submit",value="Change Colors")    
h4 Options
.info#ponyOptions
    div
     div.label
      | Color Outline:
     div
      input(type="radio", name="horn", value="off")
      | Off 
      input(type="radio", name="horn", value="normal")
      | Normal 
     div.clear
h4 Background
.info#bglist
    a(href="#", data-bgname="transparent")
     | Transparent 
    a(href="#", data-bgname="#000000")
     | Black 
    a(href="#", data-bgname="#ffffff")
     | White 
    a(href="#", data-bgname="Ponyville_Outskirts")
     img(src="img/bgs/trumb/Ponyville_Outskirts.png", style="max-width: 100px") 
    a(href="#", data-bgname="SAA")
     img(src="img/bgs/trumb/SAA.png", style="max-width: 100px") 
    a(href="#", data-bgname="twilights_library")
     img(src="img/bgs/trumb/twilights_library.png", style="max-width: 100px") 
div#spin
div.clear(style="height: 20px;")