#xalert {
    display: none;
	position: fixed;
	padding-top: 40px;
	width: 100%;
	height: 100%;
	background: #751313;
	color: #ad2424;
	z-index: 10000;
}
#xalert span {
	margin-left: 100px;
	font: 41px 'Open Sans' Arial Verdana Sans-Serif;
	text-shadow: -1px -1px 2px #520000;
	filter: dropshadow(color=#520000, offx=-1, offy=-1);
}

#xalert span.desc { font-size: 24px}
#xalert span.errorinfo { display: block; font-size: 11px; color: #fff}

#ctx { background: url('../img/grid.png'); }
.ctxSelect {cursor:crosshair;}

.navbar, .navbar-inner {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.nav .dropdown-toggle .caret {
    border-top-color: #999 !important;
    border-bottom-color: #999 !important;
}

ul[role=menu] li a i {
    float: right;
}

#progressBar {
    width: 265px;
}

#progressBar .progress {
    margin: 9px 12px 0 0; 
    background: #000;
    display: none;
}

#socketStatus {
    margin-right: 30px;
    margin-top: 10px;
}

form#convertForm { 
    margin: 0 20px;
}

form#convertForm input[type=text]
{
    width: 100%;
}

#sidebar {
	font: 14px Open-Sans, Arial, Verdana;
	height: 100%; 
	width: 292px;
	background: #EEE;
	float: right;
	border-left: 1px solid #C2C2C2;
    overflow-x: hidden;
}

#sidebar h4 {
	text-align: center;
}

div.sidebarTab {
    display: none;
}

#sidebar .info {
	background: #DBDBDB;
	padding: 10px;
	border-radius: 5px;
	margin: 5px 15px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,.3);
}

#bglist {
    overflow-x:scroll;
    overflow-y:hidden;
}

#bglist a {
    width: 100px;
    height: 56px;
    display: inline-block;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    margin: 0 3px;
}
#bglist span {
    margin-top: 18px;
    display: inline-block;
}
#bglist a[data-bgname=transparent] {
    background: url('../img/grid.png');
}
#bglist a[data-bgname=custom] {
    background-color: #000;
}

#transform {text-align: center;}
#transform input[type=text] {width: 65px; margin: 0 5px;}


#positionBtns { text-align: center; background: none !important; box-shadow: none !important; }
#positionBtns button.active,#positionBtns button:active  {
    border: 1px solid #f00;
}

#spin { margin-top: 20px }
		
#debug {
	display: none;
	position: absolute;
	height: 196px;
	width: 100%;
    background: #EEE;
	border-top: 1px solid #C2C2C2;
	bottom: 0;
	overflow-x: hidden;
}

#debugbtn {
	font: 11px Open-sans, Arial, Verdana;;
	background: #EEE;
    color: #000;
	border: 1px solid #C2C2C2;
	border-bottom: none;
	border-radius: 3px 0 0 0;
	padding: 3px;
	position: absolute;
	bottom: 0;
	right: 0px;
	z-index: 50;
}
#debugbtn a {
   color: #000;
	text-decoration: none
}

#debug .log {
	display: block;
	margin: 0 15px;
}
#debug .warn { color: #ffff00; }
#debug .error{ color: #ff0000; }
#debug .right { float: right; }

#opacity, #flashbox {
	display: none;
	background: rgba(0,0,0,0.7);
	height:100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 99;
}	

#flashbox { 
    background-color:#fff;
    z-index: 1337;
 }
#infobox div.box { display: none; }


#alerts {
   position: absolute;
   margin: 55px 15px 0 0; 
   z-index: 100;
}

#alerts div {
    width: 280px;
    height: 30px;
    margin-bottom: 15px;
    padding: 10px;
    font: 14px 'Open Sans' Arial Verdana sans-serif;
    color: #fff;
}

#alerts div.green { background: #30AC30;}
#alerts div.red { background: #AC3030;}

#credits {
    background: url(../img/html5logo.png) no-repeat top right;
}

#credits ul {
    list-style: none;
}