#menu {
    list-style:none;
	margin: 0px auto;
	height: 31px;
	padding:0px 20px 0px 20px;
	background: #111111;
	border-bottom: 1px solid #c763c7;
	position: absolute;
	min-width: 1280px;
}

#menu li.mainmenu {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 7px 2px;
	margin-right: 10px;
	border:none;
}
#menu li.mainmenu a.drop, #menu li.mainmenu span.drop {
	padding: 2px 9px;
}

#menu li.mainmenu a {
	color: #fff;
	text-decoration: none;
}

#menu li.mainmenu:hover {
	padding: 7px 1px;
	background: #060606;
	border-left: 1px solid #c763c7;
	border-right: 1px solid #c763c7;
}

.dropdown{
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; 
	text-align:left;
	padding:10px 0;
	background: #060606;
	border: 1px solid #c763c7;
	border-top:none;
	width: 223px;
    z-index: 101;
}


#menu li.mainmenu:hover .dropdown {
	left:-1px;
	top:auto;
}

#menu li.mainmenu:hover .dropdown  ul {
	list-style-type: none;
	padding: 0;
}
#menu li.mainmenu:hover .dropdown  ul li {
	font-size: 13px;
}
#menu li.mainmenu:hover .dropdown  ul li a{ 
	width: 100%;
	display: inline-block;
	margin: 2px 15px;
	color: #fff;
	text-decoration: none;
}


#menu li.mainmenu:hover .dropdown  ul li:hover {
	background: #bb2fcc;
}
#menu li.mainmenu:hover .dropdown  ul li.unactive {
	color: #444;
	margin: 2px 15px;
}
#menu li.mainmenu:hover .dropdown  ul li.unactive:hover { background: none; }